.about-section {
padding:  20px;

  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.about-section h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.about-section p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.about-section h3 {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.about-section li {
  margin-bottom: 10px;
}
