.current-job-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  .current-job-content {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 15px; /* Space between the logo and text */
  }
  
  .company-logo {
    width: 80px; /* Adjust size as needed */
    height: auto;
    border-radius: 8px; /* Optional: Add some border-radius to the logo */
  }
  
  .job-info {
    display: flex;
    flex-direction: column;
  }
  
  .company-name {
    font-weight: bold;
    margin: 0;
  }
  
  .position {
    margin: 0;
  }
  