

.app-container {
    width: 100%;
    max-width: 800px; /* Ensures everything is centered and has the same width as Profile */
    margin: 0 auto;
    padding: 20px; /* Optional: Add some padding around the container */
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end; /* Align the nav links to the right */
    margin-top: 20px; /* Space between profile and nav links */
    padding: 10px 15px;
    position: relative; /* Create a positioning context for the pseudo-element */
  }
  
  .nav-links-inner {
    display: flex; /* Align the links horizontally */
     /* Border below the links */
  }
  
  .nav-link {
    text-decoration: none;
    color: #000;
    border: none;
    background-color: transparent;
    font-weight: bold;
    padding: 10px;
    margin-left: 10px; /* Space between the links */
  }

  .nav-link:hover{
    color: blue;
  }
  
  .nav-link.active {
    font-weight: bold;
    color: blue;
  }
  
  .content-section {
    margin-top: 20px; /* Space between nav links and content */
  }
  